parameters:
    level: 7
    paths:
        - src
        - tests

    excludes_analyse:
        - "*/DataFixtures/ORM/*"

    reportUnmatchedIgnoredErrors: false
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false

includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/symplify/phpstan-extensions/config/config.neon
