{% extends 'base.html.twig' %}

{% block title %}Hello PanelController!{% endblock %}

{% block body %}
<div class="container">
    <script>hljs.highlightAll();</script>
    <h1>Create new snippet</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="mb-3">
        <button type="submit" class="btn btn-success">Create snippet!</button>
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}
