{% extends 'base.html.twig' %}

{% block title %}Hello PanelController!{% endblock %}

{% block body %}
    <h1>Delete <code>{{ snippet.name }}</code> snippet in {{ snippet.language.name }}</h1>
    <p>This operation cannot be undone, are You sure?</p>
    {{ form_start(form) }}
    <div class="mb-3">
        <button type="submit" class="btn btn-danger">Delete</button>
    </div>
    {{ form_end(form) }}
{% endblock %}
