<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://snip.sokoloowski.pl/css/style.css">
    <link rel="icon" href="https://snip.sokoloowski.pl/assets/snip.png" type="image/png">
    <title>Snip</title>
</head>
<body>
<nav>
    <a href="/"><img src="https://snip.sokoloowski.pl/assets/snip.png" alt="Snip's logo">Snip</a>
    <a href="{{ path('panel') }}" class="discord desktop"><i class="fab fa-discord"></i>Sign in using Discord</a>
    <a href="{{ path('panel') }}" class="discord mobile"><i class="fab fa-discord"></i>Sign in</a>
</nav>
<header>
    <img src="https://snip.sokoloowski.pl/assets/snip.png" alt="Snip's logo">
    <p>Snip</p>
    <p>Code snippets on demand</p>
</header>
<main>
    <div>
        <img src="https://snip.sokoloowski.pl/assets/snip_screen.png" alt="screen">
        <div>
            <p>Get snippet right in Your Discord chat</p>
            <p>
                It's that easy to help Your friends!
            </p>
        </div>
    </div>
    <div>
        <p>Become a part of our community</p>
        <p>Join our Discord server to help us improve Snip and make suggestions for new snippets!</p>
        <p><a href="https://discord.com/invite/VzCU5WzF6H" class="discord"><i class="fab fa-discord"></i> Join our server!</a></p>
    </div>
</main>
<footer>
    <p>Made with ❤️ by <a href="https://sokoloowski.pl">Sokol👀wski</a> and Snip contributors</p>
</footer>
</body>
</html>