:root {
    --header-primary: #fff;
    --header-secondary: #b9bbbe;
    --text-normal: #dcddde;
    --text-muted: #a3a6aa;
    --text-link: hsl(197,calc(var(--saturation-factor, 1)*100%),47.8%);
    --text-link-low-saturation: hsl(197,calc(var(--saturation-factor, 1)*100%),52.9%);
    --text-positive: hsl(139,calc(var(--saturation-factor, 1)*51.6%),52.2%);
    --text-warning: hsl(38,calc(var(--saturation-factor, 1)*95.7%),54.1%);
    --text-danger: hsl(359,calc(var(--saturation-factor, 1)*82%),73.9%);
    --text-brand: hsl(235,calc(var(--saturation-factor, 1)*86.1%),77.5%);
    --interactive-normal: #b9bbbe;
    --interactive-hover: #dcddde;
    --interactive-active: #fff;
    --interactive-muted: #4f545c;
    --background-primary: #36393f;
    --background-secondary: #2f3136;
    --background-secondary-alt: #292b2f;
    --background-tertiary: #202225;
    --background-accent: #4f545c;
    --background-floating: #18191c;
    --background-nested-floating: #2f3136;
    --background-mobile-primary: #36393f;
    --background-mobile-secondary: #2f3136;
    --background-modifier-hover: rgba(79,84,92,0.4);
    --background-modifier-active: rgba(79,84,92,0.6);
    --background-modifier-selected: rgba(79,84,92,0.6);
    --background-modifier-accent: rgba(79,84,92,0.48);
    --info-positive-background: hsla(139,calc(var(--saturation-factor, 1)*47.3%),43.9%,0.1);
    --info-positive-foreground: hsl(139,calc(var(--saturation-factor, 1)*47.3%),43.9%);
    --info-positive-text: #fff;
    --info-warning-background: hsla(38,calc(var(--saturation-factor, 1)*95.7%),54.1%,0.1);
    --info-warning-foreground: hsl(38,calc(var(--saturation-factor, 1)*95.7%),54.1%);
    --info-warning-text: #fff;
    --info-danger-background: hsla(359,calc(var(--saturation-factor, 1)*82.6%),59.4%,0.1);
    --info-danger-foreground: hsl(359,calc(var(--saturation-factor, 1)*82.6%),59.4%);
    --info-danger-text: #fff;
    --info-help-background: hsla(197,calc(var(--saturation-factor, 1)*100%),47.8%,0.1);
    --info-help-foreground: hsl(197,calc(var(--saturation-factor, 1)*100%),47.8%);
    --info-help-text: #fff;
    --status-positive-background: hsl(139,calc(var(--saturation-factor, 1)*47.1%),33.3%);
    --status-positive-text: #fff;
    --status-warning-background: hsl(38,calc(var(--saturation-factor, 1)*95.7%),54.1%);
    --status-warning-text: #000;
    --status-danger-background: hsl(359,calc(var(--saturation-factor, 1)*82.6%),59.4%);
    --status-danger-text: #fff;
    --status-danger: hsl(359,calc(var(--saturation-factor, 1)*82.6%),59.4%);
    --status-positive: hsl(139,calc(var(--saturation-factor, 1)*47.3%),43.9%);
    --status-warning: hsl(38,calc(var(--saturation-factor, 1)*95.7%),54.1%);
    --button-danger-background: hsl(359,calc(var(--saturation-factor, 1)*66.7%),54.1%);
    --button-danger-background-hover: hsl(359,calc(var(--saturation-factor, 1)*56.3%),40.4%);
    --button-danger-background-active: hsl(359,calc(var(--saturation-factor, 1)*56.4%),35.1%);
    --button-danger-background-disabled: hsl(359,calc(var(--saturation-factor, 1)*66.7%),54.1%);
    --button-positive-background: hsl(139,calc(var(--saturation-factor, 1)*47.1%),33.3%);
    --button-positive-background-hover: hsl(138,calc(var(--saturation-factor, 1)*46.8%),24.3%);
    --button-positive-background-active: hsl(138,calc(var(--saturation-factor, 1)*46.9%),22.2%);
    --button-positive-background-disabled: hsl(139,calc(var(--saturation-factor, 1)*47.1%),33.3%);
    --button-secondary-background: #4f545c;
    --button-secondary-background-hover: #686d73;
    --button-secondary-background-active: #72767d;
    --button-secondary-background-disabled: #4f545c;
    --button-outline-danger-text: #fff;
    --button-outline-danger-border: hsl(359,calc(var(--saturation-factor, 1)*82.6%),59.4%);
    --button-outline-danger-background: hsla(0,0%,100%,0);
    --button-outline-danger-background-hover: hsl(359,calc(var(--saturation-factor, 1)*66.7%),54.1%);
    --button-outline-danger-text-hover: #fff;
    --button-outline-danger-border-hover: hsl(359,calc(var(--saturation-factor, 1)*66.7%),54.1%);
    --button-outline-danger-background-active: hsl(359,calc(var(--saturation-factor, 1)*56.7%),48%);
    --button-outline-danger-text-active: #fff;
    --button-outline-danger-border-active: hsl(359,calc(var(--saturation-factor, 1)*66.7%),54.1%);
    --button-outline-positive-text: #fff;
    --button-outline-positive-border: hsl(139,calc(var(--saturation-factor, 1)*47.3%),43.9%);
    --button-outline-positive-background: hsla(0,0%,100%,0);
    --button-outline-positive-background-hover: hsl(139,calc(var(--saturation-factor, 1)*47.1%),33.3%);
    --button-outline-positive-text-hover: #fff;
    --button-outline-positive-border-hover: hsl(139,calc(var(--saturation-factor, 1)*47.1%),33.3%);
    --button-outline-positive-background-active: hsl(138,calc(var(--saturation-factor, 1)*46.8%),24.3%);
    --button-outline-positive-text-active: #fff;
    --button-outline-positive-border-active: hsl(138,calc(var(--saturation-factor, 1)*46.8%),24.3%);
    --button-outline-brand-text: #fff;
    --button-outline-brand-border: hsl(235,calc(var(--saturation-factor, 1)*85.6%),64.7%);
    --button-outline-brand-background: hsla(0,0%,100%,0);
    --button-outline-brand-background-hover: hsl(235,calc(var(--saturation-factor, 1)*85.6%),64.7%);
    --button-outline-brand-text-hover: #fff;
    --button-outline-brand-border-hover: hsl(235,calc(var(--saturation-factor, 1)*85.6%),64.7%);
    --button-outline-brand-background-active: hsl(235,calc(var(--saturation-factor, 1)*51.4%),52.4%);
    --button-outline-brand-text-active: #fff;
    --button-outline-brand-border-active: hsl(235,calc(var(--saturation-factor, 1)*51.4%),52.4%);
    --button-outline-primary-text: #fff;
    --button-outline-primary-border: #4f545c;
    --button-outline-primary-background: hsla(0,0%,100%,0);
    --button-outline-primary-background-hover: #4f545c;
    --button-outline-primary-text-hover: #fff;
    --button-outline-primary-border-hover: #4f545c;
    --button-outline-primary-background-active: #686d73;
    --button-outline-primary-text-active: #fff;
    --button-outline-primary-border-active: #686d73;
    --scrollbar-thin-thumb: #202225;
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-thumb: #202225;
    --scrollbar-auto-track: hsl(210,calc(var(--saturation-factor, 1)*9.8%),20%);
    --scrollbar-auto-scrollbar-color-thumb: #202225;
    --scrollbar-auto-scrollbar-color-track: #2f3136;
    --input-background: #202225;
    --input-placeholder-text: hsl(216,calc(var(--saturation-factor, 1)*2.1%),53.9%);
    --elevation-stroke: 0 0 0 1px rgba(4,4,5,0.15);
    --elevation-low: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
    --elevation-medium: 0 4px 4px rgba(0,0,0,0.16);
    --elevation-high: 0 8px 16px rgba(0,0,0,0.24);
    --logo-primary: #fff;
    --control-brand-foreground: hsl(235,calc(var(--saturation-factor, 1)*86.1%),77.5%);
    --control-brand-foreground-new: hsl(235,calc(var(--saturation-factor, 1)*86.1%),77.5%);
    --background-mentioned: hsla(38,calc(var(--saturation-factor, 1)*95.7%),54.1%,0.1);
    --background-mentioned-hover: hsla(38,calc(var(--saturation-factor, 1)*95.7%),54.1%,0.08);
    --background-message-hover: rgba(4,4,5,0.07);
    --background-message-automod: hsla(359,calc(var(--saturation-factor, 1)*82.6%),59.4%,0.05);
    --background-message-automod-hover: hsla(359,calc(var(--saturation-factor, 1)*82.6%),59.4%,0.1);
    --channels-default: #96989d;
    --channel-icon: #8e9297;
    --channel-text-area-placeholder: #72767d;
    --guild-header-text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    --channeltextarea-background: #40444b;
    --activity-card-background: #202225;
    --textbox-markdown-syntax: #8e9297;
    --spoiler-revealed-background: #292b2f;
    --spoiler-hidden-background: #202225;
    --deprecated-card-bg: rgba(32,34,37,0.6);
    --deprecated-card-editable-bg: rgba(32,34,37,0.3);
    --deprecated-store-bg: #36393f;
    --deprecated-quickswitcher-input-background: #72767d;
    --deprecated-quickswitcher-input-placeholder: hsla(0,0%,100%,0.3);
    --deprecated-text-input-bg: #202225;
    --deprecated-text-input-border: rgba(0,0,0,0.3);
    --deprecated-text-input-border-hover: #040405;
    --deprecated-text-input-border-disabled: #202225;
}

pre code.hljs {
    font-size: 0.875rem;
    line-height: 1.125rem;
    text-indent: 0;
    white-space: pre-wrap;
    background: var(--background-secondary);
    border: 1px solid var(--background-tertiary);
}

.hljs {
    display: block;
    overflow-x: auto;
    padding: .5em;
    border-radius: 4px;
    color: var(--header-secondary);
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none
}

.hljs-comment,
.hljs-quote {
    color: var(--interactive-muted)
}

.hljs-addition,
.hljs-keyword,
.hljs-selector-tag {
    color: #859900
}

.hljs-doctag,
.hljs-literal,
.hljs-meta.hljs-meta-string,
.hljs-meta .hljs-meta-string,
.hljs-number,
.hljs-regexp,
.hljs-string {
    color: #2aa198
}

.hljs-name,
.hljs-section,
.hljs-selector-class,
.hljs-selector-id,
.hljs-title {
    color: #268bd2
}

.hljs-attr,
.hljs-attribute,
.hljs-class.hljs-title,
.hljs-class .hljs-title,
.hljs-template-variable,
.hljs-type,
.hljs-variable {
    color: #b58900
}

.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-meta.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-subst,
.hljs-symbol {
    color: #cb4b16
}

.hljs-built_in,
.hljs-deletion {
    color: #dc322f
}

.hljs-formula {
    background: #073642
}

.hljs-emphasis {
    font-style: italic
}

.hljs-strong {
    font-weight: 700
}

.hljs-ansi-control-sequence {
    display: none
}

.hljs-ansi-style-bold {
    font-weight: 700
}

.hljs-ansi-style-underline {
    text-decoration: underline
}

.hljs-ansi-foreground-black {
    color: var(--interactive-muted)
}

.hljs-ansi-foreground-black .hljs-ansi-background-black,
.hljs-ansi-foreground-black .hljs-ansi-background-blue,
.hljs-ansi-foreground-black .hljs-ansi-background-cyan,
.hljs-ansi-foreground-black .hljs-ansi-background-green,
.hljs-ansi-foreground-black .hljs-ansi-background-magenta,
.hljs-ansi-foreground-black .hljs-ansi-background-red,
.hljs-ansi-foreground-black .hljs-ansi-background-white,
.hljs-ansi-foreground-black .hljs-ansi-background-yellow {
    color: #073642
}

.hljs-ansi-foreground-red {
    color: #dc322f
}

.hljs-ansi-foreground-green {
    color: #859900
}

.hljs-ansi-foreground-yellow {
    color: #b58900
}

.hljs-ansi-foreground-blue {
    color: #268bd2
}

.hljs-ansi-foreground-magenta {
    color: #d33682
}

.hljs-ansi-foreground-cyan {
    color: #2aa198
}

.hljs-ansi-foreground-white {
    color: var(--interactive-active)
}

.hljs-ansi-foreground-white .hljs-ansi-background-black,
.hljs-ansi-foreground-white .hljs-ansi-background-blue,
.hljs-ansi-foreground-white .hljs-ansi-background-cyan,
.hljs-ansi-foreground-white .hljs-ansi-background-green,
.hljs-ansi-foreground-white .hljs-ansi-background-magenta,
.hljs-ansi-foreground-white .hljs-ansi-background-red,
.hljs-ansi-foreground-white .hljs-ansi-background-white,
.hljs-ansi-foreground-white .hljs-ansi-background-yellow {
    color: #eee8d5
}

.hljs-ansi-background-black {
    background-color: #002b36
}

.hljs-ansi-background-red {
    background-color: #cb4b16
}

.hljs-ansi-background-green {
    background-color: #586e75
}

.hljs-ansi-background-yellow {
    background-color: #657b83
}

.hljs-ansi-background-blue {
    background-color: #839496
}

.hljs-ansi-background-magenta {
    background-color: #6c71c4
}

.hljs-ansi-background-cyan {
    background-color: #93a1a1
}

.hljs-ansi-background-white {
    background-color: #fdf6e3
}

.hljs {
    display: block;
    overflow-x: auto;
    padding: .5em;
    border-radius: 4px;
    color: var(--header-secondary);
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none
}

.hljs-comment,
.hljs-quote {
    color: var(--interactive-muted)
}

.hljs-addition,
.hljs-keyword,
.hljs-selector-tag {
    color: #859900
}

.hljs-doctag,
.hljs-literal,
.hljs-meta.hljs-meta-string,
.hljs-meta .hljs-meta-string,
.hljs-number,
.hljs-regexp,
.hljs-string {
    color: #2aa198
}

.hljs-name,
.hljs-section,
.hljs-selector-class,
.hljs-selector-id,
.hljs-title {
    color: #268bd2
}

.hljs-attr,
.hljs-attribute,
.hljs-class.hljs-title,
.hljs-class .hljs-title,
.hljs-template-variable,
.hljs-type,
.hljs-variable {
    color: #b58900
}

.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-meta.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-subst,
.hljs-symbol {
    color: #cb4b16
}

.hljs-built_in,
.hljs-deletion {
    color: #dc322f
}

.hljs-formula {
    background: #073642
}

.hljs-emphasis {
    font-style: italic
}

.hljs-strong {
    font-weight: 700
}
