{% extends 'base.html.twig' %}

{% block title %}Hello PanelController!{% endblock %}

{% block body %}
<div class="container">
    <h1>Hello {{ username }}<span class="text-muted">#{{ discriminator }}</span>!</h1>
</div>
{% endblock %}
