{% extends 'base.html.twig' %}

{% block title %}Hello PanelController!{% endblock %}

{% block body %}
    <script>hljs.highlightAll();</script>
    <h1>Edit <code>{{ language.name }}</code> language</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
    {{ form_end(form) }}
{% endblock %}
